:root {
    --branco-01: #FFFFFF;
    --cinza-01: #C0C0C0;
    --azul-01: #167BF7;
    ---vermelho-01: #EC2F46;
    --fundo-preto: #040814;
} /* Variaveis para melhor menutenção da aplicação */

body {
    background-color: var(--fundo-preto);
    color: var(--branco-01);
}

*{
    margin: 0;
    padding: 0;
} /* O elemento * é uma especie de coringa que faz com que todos os objetos sejam afetados pelos seus parametros */