
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root { /* Variaveis para melhor menutenção da aplicação */
    --branco-01: #FFFFFF;
    --cinza-01: #C0C0C0;
    --azul-01: #167BF7;
    ---vermelho-01: #EC2F46;
    --fundo-preto: #040814;
    --fonte-principal: "Inter";
} 

body {
    background-color: var(--fundo-preto); /* Defini cor de fundo da pagina */
    color: var(--branco-01); /* Defini cor padrão do texto */
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

*{  /* O elemento * é uma especie de coringa que faz com que todos os objetos sejam afetados pelos seus parametros */
    margin: 0;
    padding: 0;
}

.principal { /* Defini a imagem de fundo do inicio da pagina principal */
    background-image: url("/img/Background.png");
    background-repeat: no-repeat; /* Tira a reptição da imagem */
    background-size: contain;
}

.container { /* Definie a altura total da pagina a ser usada */
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50% ;
}

.container__botao { /* Classe para estilização do botão de assinatura */
    background-color:  var(--azul-01); /* Define a cor de fundo */
    border-radius: 5px; /* Define o arredondamento das bordas do botão */
    padding: 1em; /* Tamanho da funte usando medida relativa para melhor responsividade */
    color: var(--branco-01); /* Define a cor do texto */
    display: block; /* Garante que o botão ocupe todo o seu bloco */
    text-decoration: none; /* Tira a estilização do link */
}

.botao__secundario {
    background-color: transparent; /* Deixa o fundo trnasparente */
    border: 2px solid var(--branco-01); /* Define uma borda de cor solida para o botão, importante lembrar do solid */
    text-shadow: none; /* Tira a estilização do link */
}

.container__titulo {
    font-family: var(--fonte-principal);
    font-size: 28px;
    font-weight: 700;
}

.container__aviso {
    font-size: 12px;
    color: var(--cinza-01);
  }
